.card-stack-container {
    position: relative;
    width: 100vw;
   min-height: 300px;
}

.card-stack {
    position: absolute;
    width: 85%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}