.btnSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60px;
    border: 2px solid black;
    border-radius: 8px;
    z-index: 1000;
    font-size: larger;
    font-weight: bolder;
}