.headwrapper {
    height: 100px;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headline {
    font-size: 2rem;
    font-family: "Source Sans 3", sans-serif;
    font-weight: bold;
    color: #333;
}